folium==0.17.0
numpy>=1.22.0  
openrouteservice==2.3.3
ortools==9.11.4210
pandas>=2.0.0
streamlit==1.37.0
streamlit_folium==0.23.0
openpyxl
xlsxwriter
geopandas==1.0.1
geopy==2.4.1
plotly
tk>=8.6


